*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: brown;
    background-color: aqua;
}
.userform{
    border: 2px solid rgb(221, 188, 188);
    width: 60vw;
    margin: 2vh auto 0;
    background-color: silver;
    /* height: 90vh; */
    /* overflow: hidden; */
}

.btns{
    width: 10vw;
    height: 6vh;
    border-radius: 15%;
    border: 2px solid rgb(22, 22, 21);
    background-color: rgb(253, 163, 73);
    color: rgb(1, 1, 19);
    margin: 2% 1.5% 0;
}
.btns:hover{
    width: 10vw;
    height: 6vh;
    border-radius: 15%;
    border: 2px solid rgb(22, 22, 21);
    background-color: rgb(196, 194, 193);
    color: rgb(19, 15, 9);
    margin: 2% 1.5% 0;
}


.txtarea{
    width: 100%;
    height: 40vh;
    margin-top: 0.5%;
    font-size: 250%;
    font-weight: 500;
    /* margin: auto; */
    background-color: rgb(129, 172, 252);
    font-size: larger;
    padding: auto;
}
.text-p{
    margin: 3% 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* overflow: scroll; */
    width: 100%;
    /* height: 40vh; */
    color: rgb(5, 12, 22);
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(169, 169, 199, 0.603);
}